<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav>
    <section class="logo">
      <h1>PD</h1>
    </section>
    <section class="tiple-bar">
      <div></div>
    </section>
    <ul>
      <li>OUR SERVICE
        <ul>
          <li>Web Design
            <ul>
              <li>New Web Design</li>
              <li>Existing Web Design</li>
            </ul>
          </li>
          <li>Web Application Development
            <ul>
              <li>New Web Application</li>
              <li>Existing Web Application</li>
            </ul>
          </li>
          <li>Mobile App Development
            <ul>
              <li>New Mobile App</li>
              <li>Existing Mobile App</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>ABOUT US</li>
      <li>OUR PORTFOLIO</li>
      <li>CONTACT US</li>
    </ul>
  </nav>

</header>
<h1>HEading Heading heading heading heading </h1>
<router-outlet></router-outlet>